h1 {
    margin: 10px;
    padding: 10px;
    font-family: cursive;
    background-color: black;
    color: white;
}

span {
    color: aqua;
}

h2 {
    margin: 10px;
    font-family: cursive;
    font-weight: lighter;
    background-color: rgb(115, 49, 153);
    color: white;
    text-align: center;
    font-style: italic;
}

h3 {
    margin: 10px;
    font-family: cursive;
    font-weight: lighter;
    background-color: rgb(117, 185, 240);
    color: rgb(16, 9, 110);
    text-align: right;
    text-decoration: underline;
    padding: 5px;
}